.signup-div {
  background-color: rgb(253, 220, 167);
  border: 2px solid peru;
  border-radius: 5px;
  padding: 30px;
  margin: 5px;
}

.footer {
   height: 60px;
   background-color: peru;
   color: #232323;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

.row {
  margin-top: 15px;
}

.get-started {
  margin: auto;
  background-color: peru;
  color: rgb(253, 220, 167);
  text-align: center;
  width: fit-content;
  padding: 15px;
  border: transparent;
  border-radius: 5px;
  font-size: 25pt;
}

#hearticon {
  color: red;
}

#linkedin, #github, #mail, #rebel {
  color: #232323;
  margin-left: 10px;
}