<div class="col-2">
  <p class="get-started">Get Started!</p>
</div>

<hr>

<div class="row signup-div">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" ngModel>
      </div>
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>

<!-- ========================== -->

<footer class="footer">
  <div class="row" id="footer-row">
    <div class="col-12">
      <p class="copyright">&copy; Gyasik Nunez 2018
        <a href="https://github.com/gyasikn" target="_blank">
          <i id="github" class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/gyasiknunez/" target="_blank">
          <i id="linkedin" class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="mailto:gyasiknunez@gmail.com">
          <i id="mail" class="far fa-envelope fa-2x"></i>
        </a>
        <a href="http://www.gyasiknunez.com" target="_blank">
          <i id="rebel" class="fab fa-rebel fa-2x"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

  
<!-- Use for Performing Updates page:  -->

<!-- 
<div class="row signup-div">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    Performing Updates. Come Back Soon!
  </div>
</div> -->
