<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    <hr>
    <h3>Select Your Recipe</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <app-recipe-item
       *ngFor="let recipeElement of recipes; let i = index" 
      [recipe]="recipeElement" 
      [index]="i"></app-recipe-item>
  </div>
</div>
<hr>
<a routerLink="/shopping-list"><button type="button" class="btn btn-primary">Shopping List</button></a>
